<%= form_with(model: person, data: { controller: "cities" }) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code, data: { action: "blur->cities#cities" } %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.select :city_id, (form.object.city_id.present? ? [[ form.object.city.name, form.object.city_id ]] : []), { prompt: true }, { data: { 'cities-target': 'name', action: "change->cities#streets" } } %>
  </div>

  <div>
    <%= form.label :street_id, style: "display: block" %>
    <%= form.select :street_id, (form.object.street_id.present? ? [[ form.object.street.name, form.object.street_id ]] : []), { prompt: true }, { data: { 'cities-target': 'street' } } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
