<div id="<%= dom_id person %>">
  <span><%= person.name %></span>

  <span><%= person.postal_code %></span>

  <span><%= person.city.name %></span>

  <span><%= person.street.name %></span>

  <span><%= person.street_number.number %></span>

</div>
